*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  background-color: rgb(28, 43, 46);
  font-family: "Oxygen", sans-serif;
}
body .logo {
  color: rgb(0, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(128, 220, 236);
}
body .shadow-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
body nav {
  transition: background-color 0.8s;
  z-index: 1;
}
body nav .nav-link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: color 0.5s, text-shadow 0.5s, font-size 0.5s, font-weight 0.2s;
}
body nav .nav-link:hover {
  color: rgb(0, 255, 255);
  text-shadow: 0px 0px 50px rgb(76, 220, 82);
  font-size: 20px;
  font-weight: bold;
}
body nav .navbar-brand {
  font-weight: 700;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
body nav .navbar-toggler {
  color: rgb(255, 255, 255);
  padding: 20px;
  color: rgb(0, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(128, 220, 236);
}
body .fa-brands {
  padding: 10px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
body header .hero-bg {
  position: relative;
  height: 100vh;
  background-image: url(../img/nav-small.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
body header .hero-bg .fa-circle-chevron-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 255, 255);
  font-size: 50px;
}
body header .hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
body .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: rgb(255, 255, 255);
  z-index: 5;
}
body .hero-text .btn-outline-info {
  border: 3px solid rgb(0, 255, 255);
  color: rgb(0, 255, 255);
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 5px;
  background-color: rgb(0, 255, 255);
  margin: 0 auto;
}

.aboutus i {
  margin-top: 10px;
  font-size: 50px;
}
.aboutus .aboutus-card-title {
  text-transform: uppercase;
  font-size: 14px;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: rgb(0, 255, 255);
}

@media (min-width: 375px) {
  header h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 70px;
  }
  body .hero-text {
    font-size: 30px;
  }
  body .btn-outline-info {
    font-size: 30px;
  }
  body .navbar-toggler {
    font-size: 50px;
  }
  body nav .nav-link:hover {
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 50px rgb(76, 220, 82);
    font-size: 30px;
    font-weight: bold;
  }
  body nav .nav-link {
    font-size: 15px;
  }
  body nav .navbar-brand {
    font-size: 50px;
  }
}
@media (min-width: 996px) {
  body nav .nav-link:hover {
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 50px rgb(76, 220, 82);
    font-size: 20px;
    font-weight: bold;
  }
  body nav .nav-link {
    font-size: 13px;
  }
  body nav .navbar-brand {
    position: absolute;
    left: 1%;
  }
}
@media (min-width: 1200px) {
  body header .hero-bg {
    background-image: url(../img/nav-big.jpg);
  }
}/*# sourceMappingURL=style.css.map */