*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  background-color: rgb(28, 43, 46);
  font-family: "Oxygen", sans-serif;
}
body .logo {
  color: rgb(0, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(128, 220, 236);
}
body .shadow-bg {
  background-color: rgba(0, 0, 0, 0.9);
}
body nav {
  transition: background-color 0.8s;
  z-index: 1;
}
body nav .nav-link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: color 0.5s, text-shadow 0.5s, font-size 0.5s, font-weight 0.2s;
}
body nav .nav-link:hover {
  color: rgb(0, 255, 255);
  text-shadow: 0px 0px 50px rgb(76, 220, 82);
  font-size: 20px;
  font-weight: bold;
}
body nav .navbar-brand {
  font-weight: 700;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
body nav .navbar-toggler {
  color: rgb(255, 255, 255);
  padding: 20px;
  color: rgb(0, 255, 255);
  font-weight: bold;
  text-shadow: 0px 0px 15px rgb(128, 220, 236);
}
body .fa-brands {
  padding: 10px;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
body header .hero-bg {
  position: relative;
  height: 100vh;
  background-image: url(../img/nav-small.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
body header .hero-bg .fa-circle-chevron-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 255, 255);
  font-size: 50px;
}
body header .hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
body .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: rgb(255, 255, 255);
  z-index: 5;
}
body .hero-text .btn-outline-info {
  border: 3px solid rgb(0, 255, 255);
  color: rgb(0, 255, 255);
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 5px;
  background-color: rgb(0, 255, 255);
  margin: 10px auto;
}

.aboutus i {
  margin-top: 10px;
  font-size: 50px;
}
.aboutus .aboutus-card-title {
  text-transform: uppercase;
  font-size: 14px;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: rgb(0, 255, 255);
}

.aboutus-2 .hero-bg {
  position: relative;
  background-image: url(../img/apps-small.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}
.aboutus-2 .hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}
.aboutus-2 .container i {
  margin-top: 10px;
  font-size: 50px;
  color: white;
}
.aboutus-2 .container h2 {
  padding-top: 20px;
  color: white;
}
.aboutus-2 .container p {
  padding: 20px;
  color: white;
}

.portfolio .carousel-item {
  position: relative;
  height: 500px;
}
.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.portfolio .carousel-indicators {
  padding-bottom: 10px;
}
.portfolio .card-group img {
  height: 300px;
}

.prices .price-box {
  margin: 20px 10px;
  padding: 20px;
  background-color: rgb(196, 196, 196);
  border-radius: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  transition: transform 0.4s;
}
.prices .price-box h3 {
  color: blue;
}
.prices .price-box p span {
  font-weight: bold;
}
.prices .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}
.prices .price-tag {
  font-size: 30px;
  font-weight: bold;
}
.prices .price-box:hover {
  transform: scale(1.1);
}
.prices .offer {
  padding: 20px 0;
}
.prices .offer a {
  text-decoration: none;
}

.team {
  position: relative;
  background-image: url(../img/team/sala-small.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.team h2 {
  color: white;
}
.team .shadow-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: -5;
}
.team .card {
  transition: transform 0.3s;
}
.team .card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team .card i {
  padding: 10px;
}
.team .card .card-title {
  margin: 10px 0;
  text-transform: uppercase;
  text-align: center;
}
.team .card .card-body {
  height: 160px;
}
.team .card:hover {
  transform: scale(0.96);
}

.contact-us {
  position: relative;
  background-image: url(../img/katowice-small.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.contact-us .shadow-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.contact-us h2 {
  color: whitesmoke;
}
.contact-us .contact-links h3 {
  color: whitesmoke;
  text-transform: uppercase;
}
.contact-us .contact-links i {
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding: 20px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  transition: all 0.5s;
}
.contact-us .contact-links i:hover {
  font-size: 40px;
  color: aqua;
  text-shadow: 0 0 20px white;
}
.contact-us .contact-item {
  color: whitesmoke;
  text-transform: uppercase;
}

.achievments {
  background-color: rgb(255, 255, 255);
}
.achievments i {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  font-size: 30px;
  padding: 20px 0;
}
.achievments .achievment-number {
  font-weight: bold;
  font-size: 25px;
}
.achievments .achievment-text {
  text-transform: uppercase;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 70px;
  }
  body .aboutus h2 {
    font-size: 40px;
  }
  body .aboutus .aboutus-card-text {
    font-size: 30px;
  }
  body .aboutus .aboutus-card-title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
  }
  body .hero-text {
    font-size: 30px;
  }
  body .btn-outline-info {
    font-size: 30px;
  }
  body .navbar-toggler {
    font-size: 50px;
  }
  body nav .nav-link:hover {
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 50px rgb(76, 220, 82);
    font-size: 30px;
    font-weight: bold;
  }
  body nav .nav-link {
    font-size: 15px;
  }
  body nav .navbar-brand {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  body nav .nav-link:hover {
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 50px rgb(76, 220, 82);
    font-size: 20px;
    font-weight: bold;
  }
  body nav .nav-link {
    font-size: 13px;
  }
  body nav .navbar-brand {
    position: absolute;
    left: 1%;
  }
  body .aboutus-2 .hero-bg {
    background-image: url(../img/apps-big.jpg);
  }
  body .prices .offer {
    font-size: 20px;
  }
  body .contact-us {
    background-image: url(../img/katowice-big.jpg);
  }
}
@media (min-width: 1200px) {
  body header .hero-bg {
    background-image: url(../img/nav-big.jpg);
  }
}/*# sourceMappingURL=style.css.map */