*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(28, 43, 46);
	font-family: 'Oxygen', sans-serif;
	h1 {
	}
	.logo {
		color: aqua;
		font-weight: bold;
		text-shadow: 0px 0px 15px rgba(128, 220, 236, 1);
	}

	.shadow-bg {
		background-color: rgba(0, 0, 0, 0.9);
	}
	// NAV
	nav {
		transition: background-color 0.8s ;
		z-index: 1;
		.nav-link {
			color: white;
			text-transform: uppercase;
			transition: color 0.5s, text-shadow 0.5s, font-size 0.5s, font-weight 0.2s;
		}

		.nav-link:hover {
			color: aqua;
			text-shadow: 0px 0px 50px rgba(76, 220, 82, 1);
			font-size: 20px;
			font-weight: bold;
		}

		.navbar-brand {
			font-weight: 700;
			font-size: 25px;
			color: white;
		}

		.navbar-toggler {
			color: white;
			padding: 20px;
			color: aqua;
			font-weight: bold;
			text-shadow: 0px 0px 15px rgba(128, 220, 236, 1);
		}
	}

	.fa-brands {
		padding: 10px;
		font-size: 60px;
		color: white;
	}
	// @media (min-width: 992px) {
	//     nav {
	//         background-image: url(../img/nav-big.jpg);
	//         background-repeat: no-repeat;
	//         background-size:cover;
	//         background-position: center;
	//     }
	// }

	// HEAD
	header {
		.hero-bg {
			position: relative;
			height: 100vh;
			background-image: url(../img/nav-small.jpg);
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
			z-index: 0;
			.fa-circle-chevron-down {
				position: absolute;
				top: 90%;
				left: 50%;
				transform: translateX(-50%);
				color: aqua;
				font-size: 50px;
			}
		}

		.hero-shadow {
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: -10;
		}
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100%;
		color: white;
		z-index: 5;
		.btn-outline-info {
			border: 3px solid aqua;
			color: aqua;
		}
	}
}


@media (min-width: 375px) {
	header h1 {
		font-size: 50px;
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 70px;
		}
	}
	body {
		.hero-text {
			font-size: 30px;
		}
		.btn-outline-info{
			font-size: 30px;
		}
		.navbar-toggler {
			font-size: 50px;
		}
		nav {
			.nav-link:hover {
				color: aqua;
				text-shadow: 0px 0px 50px rgba(76, 220, 82, 1);
				font-size: 30px;
				font-weight: bold;
			}
			.nav-link{
				font-size: 15px;
			}
			.navbar-brand {
				font-size: 50px;
			}
		}
	}
}
@media (min-width: 996px) {
	body{

		nav {
			.nav-link:hover {
				color: aqua;
				text-shadow: 0px 0px 50px rgba(76, 220, 82, 1);
				font-size: 20px;
				font-weight: bold;
			}
		.nav-link {
			font-size: 13px;
		}
		.navbar-brand {
			position: absolute;
			left: 1%;
		
		}
	}
}
}
@media (min-width: 1200px) {
	body {
		header {
			.hero-bg {
				background-image: url(../img/nav-big.jpg);
			}
		}
	}
}