@use './reset';

body {
	margin: 50px;
	font-family: 'Montserat', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}

.title {
    font-weight: bold;
    transition: color 1s;
}

li:nth-child(even) {
    color: aqua;
}


span:first-of-type {
    color: red;
}

.test p:first-child {
    color: gold;
}

.test p:last-child {
    color: gold;
}

.title:hover {
    color: violet;
}